.file_picker_container {
    height: 10rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.5rem;
    margin: var(--sm) 0 0 0;
}

.file_picker_container img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 2px solid var(--clr-accent);
    object-fit: cover;
    object-position: center;
}

.input_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: var(--xs);
    position: relative;
}

.file_input {
    background-color: red;
    height: 2rem;
    width: 10rem;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.select_file_box {
    text-align: center;
    width: 8rem;
    height: var(--lg);
    padding: var(--xxs);
    border: 1px solid var(--clr-accent);
    border-radius: var(--xxs);
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 0;
}